*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  
  
}
.main-amazonClone{
  width: 90vW;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.amazon_logo{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.amazon-top{
display: flex;
background-color: black;
color: white;
justify-content: space-around;

padding: 4px;
padding-left: 20px;
padding-right: 20px;
}


.point{
  cursor: pointer;
}
h1,h2,h3,h4,p{
  cursor: pointer;
}
.amazon-top-fist{
  display: flex;
  width: 25%;
  align-items: space;
  height: 5%;
}
.main-amazon-top-navbar{
  height: 10%;
  display: flex;
  width: 100vw;
  top: 0;
  
  position: fixed;
  flex-direction: column;
  
  
}

.amazon-location{
  color: cadetblue;
  display: flex;
  padding: 5px;
}
.location-heading{
  margin: 5px;
}
.amazon-search{
  width: 100%;
  border-radius: 5px;
  height: 30px;
  margin: 3px;
  font-size: 20px;
  padding: 5px; 
}
.search-h{

  margin: 5px;
  background-color: chocolate;
}
.se{
  display: flex;
}
.search{
  width: 50%;
}

.search-account{
  font-size: 90%;
  margin: 3px;
}
.search-orders{
  font-size: 90%;
  margin: 3px;
}
.amazon-bottom{
  background-color: #eaeeeb;
  height: 50%;
  color: rgb(14, 3, 3);
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.bottom-heading{
  display: flex;
}
.bottom-all{
  padding-top: 5px;
}
.amazon-body{
  background-image: url('https://img.freepik.com/free-photo/paper-bags-different-colors-blue-background-top-view_169016-43755.jpg?w=740&t=st=1709617163~exp=1709617763~hmac=f839a8374e4450ef9e426db88eeacd1b13f49cba6d0250d3a286877b34744a7c');
  width: 100vw;
  display: flex;
  height: auto;

  margin-top: 75px;
  
  flex-direction: column;
  background-size: cover;
  
}
.body-img{
  width: 50vw;
  height: 50vh;
  margin-top: 90px;
  flex-grow: 3;
  border-radius: 10px;
}
.body-fist{
  width: 100vw;
  height: 50%;
  align-items: center;
  
 display: flex;
 
}
.buttonA{
  width: 100px;
  height: 50vh; 
  flex-grow: 1;
  
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: transparent;
}
.offers-cards{
  display: flex;
  background-color: transparent;
  width: 100vw;
  visibility: visible;
  height: 50%;
  margin-top: 50px;
 
  
}
.card1{
  width: 18%;
  height: 50vh;
  background-color: aliceblue;
  border-radius: 9px;
  flex-grow: 1;
 
  margin: 10px;
  padding-left: 30px;
 
}

.cimg{
  width: 40%;
  height: 35%;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 4px;
}
/*floot*/
.floor{
  background-color: #222e25;
  width: 100vw;
  height: 200px;
  color: white;
}
.floor-top{
  background-color: #212436;
  text-align: center;
  height: 40px9;
  padding: 3px;
}
.floor-bottom{
 height: 100%;
 width: 100vw;
 background-color: black;
 

  

}
.bottom-floorA{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: row;
  
  
  
}
.imgAm{
  width: 100px;
  height: 60px;
}
.lastone{
  flex-grow: 1;
}
.commonlast{
 
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;

}
select{
  width: 150px;
  height: 45px;
  margin-left: 15px;
  border-radius: 8px;
  font-size: 20px;
}
.find-last{
  display: flex;
  flex-direction: column;
  background-color: #212436;

}
.find-country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.paralast{
  text-align: center;
  margin: 10px;
}
.slide-container{
width: 50%;
border-radius: 10px!important;

 
}
.new-sider{
  display: flex;
  text-align: center;
  justify-content: center;
 
}
